{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}

{% block navbar %}<a class="button" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block container %}
    <h1>You are now connected as {{ current_user.username }}!</h1>
    <video controls width="250">
        <source src="{{url_for('static', filename='video/ligo20160211v2.m4v')}}" type="video/mp4">
    </video>
    
    <p><label for="path">Place to save it</label> <input id="path" type="text" placeholder="/path/to/file"> <a class="button" href="#">Apply changes</a></p>


    <br><br><br>

     <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'photo')">Photo</button>
        <button class="tablinks" onclick="openTab(event, 'timelapse')">Timelapse</button>
        <button class="tablinks" onclick="openTab(event, 'video')">Video</button>
    </div>
    
    <!-- Tab content -->
    <div id="photo" class="tabcontent">
        <form action="/take_a_photo" method="POST">
            <p><label for="exposure_photo">Temps d'ouverture (en secondes)</label> <input id="exposure_photo" name="exposure_photo" type="number"></p>
            <input type="submit" class="button" value="Prendre la photo"/>
        </form>
    </div>
    
    <div id="timelapse" class="tabcontent">
        <form action="" method="POST" novalidate>
            {{ timelapse_form.hidden_tag() }}
            <p>{{ timelapse_form.exposure_time.label }} {{ timelapse_form.exposure_time }}</p>
            <p>{{ timelapse_form.time_between_each_photo. label }} {{ timelapse_form.time_between_each_photo }}</p>
            <p>{{ timelapse_form.number_of_photos.label }} {{ timelapse_form.number_of_photos }}</p>
            <p>Temps total (calculé) => {Insert smthg}</p>
            <p>{{ timelapse_form.submit(class_="button") }}</p>
        </form>
    </div>
    
    <div id="video" class="tabcontent">
        <p><label for="path">Place to save it</label> <input id="path" type="text" placeholder="/path/to/file"> <a class="button" href="#">Apply changes</a></p>
        <a class="button" href="#">Commencer la vidéo !</a>
        <a class="button" href="#">Arrêter la vidéo !</a>

    </div> 


{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
