{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
	{{ super() }}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
{% endblock %}

{% block navbar %}
	<a class="button" href="{{ url_for('logout') }}">{{ _("Logout") }}</a>
	<a class="button" href="{{ url_for('preview') }}">{{ _("Preview") }}</a>
	<a class="button" href="{{ url_for('gallery') }}">{{ _("Gallery") }}</a>
{% endblock %}

{% block container %}

	<p><span id="usb_status"></span> <a id="save_in_usb" class="button" href="">{{ _("Save in USB Key") }}</a></p>

	<br><br>

	<!-- Tab links -->
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'photo')" id="default_open">{{ _("Photo") }}</button>
		<button class="tablinks" onclick="openTab(event, 'timelapse')">{{ _("Timelapse") }}</button>
		<button class="tablinks" onclick="openTab(event, 'video')">{{ _("Video") }}</button>
	</div>

	<!-- Tab content -->
	<div id="photo" class="tabcontent">
		<p>
			<label for="exposure_photo">{{ _("Exposure time (seconds)") }} = </label>
			<input id="exposure_photo" size="4" name="exposure_photo" type="number" min="0" step="0.01" max="100" value="0">
		</p>
		<p>
			<label for="resolution_photo">{{ _("Resolution") }} = </label>
			<select name="resolution_photo" id="resolution_photo">
				<option value="4056,3040">4056 × 3040</option>
				<option value="2028,1520">2028 × 1520</option>
				<option value="2028,1080">2028 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
			||||
			<label for="iso_photo">{{ _("ISO") }} = </label>
			<select name="iso_photo" id="iso_photo">
				<option value="0">0</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="320">320</option>
				<option value="400">400</option>
				<option value="500">500</option>
				<option value="640">640</option>
				<option value="800">800</option>
			</select>
		</p>
		<p>
			<label for="check1">{{ _("Advanced options") }}</label>
			<input type="checkbox" id="advanced_options_checkbox" name="check1">
		</p>
		<div id='advanced_options'>
			<p>
				<label for="meter_mode_photo">{{ _("Meter Mode") }} = </label>
				<select name="meter_mode_photo" id="meter_mode_photo">
					<option default value="average">{{ _("average") }}</option>
					<option value="spot">{{ _("spot") }}</option>
					<option value="backlit">{{ _("backlit") }}</option>
					<option value="matrix">{{ _("matrix") }}</option>
				</select>
				||||
				<label for="awb_mode_photo">{{ _("AWB Mode") }} = </label>
				<select name="awb_mode_photo" id="awb_mode_photo">
					<option value="off">{{ _("off") }}</option>
					<option default value="auto">{{ _("auto") }}</option>
					<option value="sunlight">{{ _("sunlight") }}</option>
					<option value="cloudy">{{ _("cloudy") }}</option>
					<option value="shade">{{ _("shade") }}</option>
					<option value="tungsten">{{ _("tungsten") }}</option>
					<option value="fluorescent">{{ _("fluorescent") }}</option>
					<option value="incandescent">{{ _("incandescent") }}</option>
					<option value="flash">{{ _("flash") }}</option>
					<option value="horizon">{{ _("horizon") }}</option>
				</select>

			</p>
			<p>
				<label for="brightness_photo">{{ _("Brightness") }} = </label>
				<input id="brightness_photo" size="4" name="brightness_photo" type="number" min="0" max="100" value="50">
			</p>
			<p>
				<label for="contrast_photo">{{ _("Contrast (increase noise)") }} = </label>
				<input id="contrast_photo" size="4" name="contrast_photo" type="number" min="-100" max="100" value="0">
			</p>
			<p>
				<label for="sharpness_photo">{{ _("Sharpness") }} = </label>
				<input id="sharpness_photo" size="4" name="sharpness_photo" type="number" min="-100" max="100" value="0">
				||||
				<label for="saturation_photo">{{ _("Saturation") }} = </label>
				<input id="saturation_photo" size="4" name="saturation_photo" type="number" min="-100" max="100" value="0">
			</p>
			<p>
				<label for="rotation_photo">{{ _("Rotation") }} = </label>
				<select name="rotation_photo" id="rotation_photo">
					<option default value="0">0</option>
					<option value="90">90</option>
					<option value="180">180</option>
					<option value="270">270</option>

				</select>
				||||
				<label for="hflip_photo">{{ _("Horizontal flip") }} = </label>
				<select name="hflip_photo" id="hflip_photo">
					<option default value="false">{{ _("False") }}</option>
					<option value="true">{{ _("True") }}</option>
				</select>
				||||
				<label for="vflip_photo">{{ _("Vertical flip") }} = </label>
				<select name="vflip_photo" id="vflip_photo">
					<option default value="false">{{ _("False") }}</option>
					<option value="true">{{ _("True") }}</option>
				</select>
			</p>
			<p>
				<label for="exposure_compensation_photo">{{ _("Exposure compensation") }} = </label>
				<input id="exposure_compensation_photo" size="4" name="exposure_compensation_photo" type="number" min="-25"
					max="25" value="0">
			</p>
			<p>
				<label for="exposure_mode_photo">{{ _("Exposure mode") }} = </label>
				<select name="exposure_mode_photo" id="exposure_mode_photo">
					<option value="off">{{ _("off") }}</option>
					<option default value="auto">{{ _("auto") }}</option>
					<option value="night">{{ _("night") }}</option>
					<option value="nightpreview">{{ _("nightpreview") }}</option>
					<option value="backlight">{{ _("backlight") }}</option>
					<option value="spotlight">{{ _("spotlight") }}</option>
					<option value="sports">{{ _("sports") }}</option>
					<option value="snow">{{ _("snow") }}</option>
					<option value="beach">{{ _("beach") }}</option>
					<option value="verylong">{{ _("verylong") }}</option>
					<option value="fixedfps">{{ _("fixedfps") }}</option>
					<option value="antishake">{{ _("antishake") }}</option>
					<option value="fireworks">{{ _("fireworks") }}</option>
				</select>
				||||
				<label for="image_effect_photo">{{ _("Image effect") }} = </label>
				<select name="image_effect_photo" id="image_effect_photo">
					<option default value="none">{{ _("none") }}</option>
					<option value="negative">{{ _("negative") }}</option>
					<option value="solarize">{{ _("solarize") }}</option>
					<option value="sketch">{{ _("sketch") }}</option>
					<option value="denoise">{{ _("denoise") }}</option>
					<option value="emboss">{{ _("emboss") }}</option>
					<option value="oilpaint">{{ _("oilpaint") }}</option>
					<option value="hatch">{{ _("hatch") }}</option>
					<option value="gpen">{{ _("gpen (graphite sketch effect)") }}</option>
					<option value="pastel">{{ _("pastel") }}</option>
					<option value="watercolor">{{ _("watercolor") }}</option>
					<option value="film">{{ _("film") }}</option>
					<option value="blur">{{ _("blur") }}</option>
					<option value="saturation">{{ _("saturation") }}</option>
					<option value="colorswap">{{ _("colorswap") }}</option>
					<option value="washedout">{{ _("washedout") }}</option>
					<option value="posterise">{{ _("posterise") }}</option>
					<option value="colorpoint">{{ _("colorpoint") }}</option>
					<option value="colorbalance">{{ _("colorbalance") }}</option>
					<option value="cartoon">{{ _("cartoon") }}</option>
					<option value="deinterlace1">{{ _("deinterlace1") }}</option>
					<option value="deinterlace2">{{ _("deinterlace2") }}</option>
				</select>
			</p>
		</div>
		<a class="button" id="take_a_photo" href="#">{{ _("Take a photo") }}</a>

	</div>

	<div id="timelapse" class="tabcontent">
		<p>
			<label for="exposure_photo_timelapse">{{ _("Exposure time (seconds)") }} = </label>
			<input id="exposure_photo_timelapse" size="4" name="exposure_photo_timelapse" type="number" min="0" step="0.01"
				max="100" value="1">
		</p>
		<p>
			<label for="time_between_photos">{{ _("Time between each photo") }} = </label>
			<input id="time_between_photos" size="4" name="time_between_photos" type="number" min="0" step="0.01" max="100"
				value="5">
		</p>
		<p>
			<label for="number_photos">{{ _("Number of photo to be taken") }} = <label>
					<input id="number_photos" size="4" name="number_photos" type="number" min="1" max="100" value="10">
		</p>
		<p>
			<label for="resolution_timelapse">{{ _("Resolution") }} = </label>
			<select name="resolution_timelapse" id="resolution_timelapse">
				<option value="4056,3040">4056 × 3040</option>
				<option value="2028,1520">2028 × 1520</option>
				<option value="2028,1080">2028 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
		</p>
		<p>{{ _("Total time (calculated)") }} => <span id="calculated_time">60</span> {{ _("seconds") }}</p>
		<a class="button" id="take_timelapse" href="#">{{ _("Start the timelapse") }}</a>

	</div>

	<div id="video" class="tabcontent">
		<p>
			<label for="video_time">{{ _("Video time") }} = <label>
					<input id="video_time" size="4" name="video_time" type="number" min="1" max="100" value="10">
		</p>
		<p>
			<label for="resolution_video">{{ _("Resolution") }} = </label>
			<select name="resolution_video" id="resolution_video">
				<option value="1920,1080">1920 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
		</p>
		<a class="button" id="start_video" href="#">{{ _("Start the video") }}</a>
	</div>

	<p> <span id="message"></span> <span id="filename"></span></p>

{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}