{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
	{{ super() }}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
{% endblock %}

{% block navbar %}
	<a class="button" href="{{ url_for('logout') }}">{{ _("Logout") }}</a>
	<a class="button" href="{{ url_for('preview') }}">{{ _("Preview") }}</a>
	<a class="button" href="{{ url_for('gallery') }}">{{ _("Gallery") }}</a>
{% endblock %}

{% block container %}

	<p><span id="usb_status"></span> <a id="save_in_usb" class="button" href="">{{ _("Save in USB Key") }}</a></p>

	<br><br>

	<!-- Tab links -->
	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'photo')" id="default_open">{{ _("Photo") }}</button>
		<button class="tablinks" onclick="openTab(event, 'timelapse')">{{ _("Timelapse") }}</button>
		<button class="tablinks" onclick="openTab(event, 'video')">{{ _("Video") }}</button>
	</div>

	<!-- Tab content -->
	<div id="photo" class="tabcontent">
		<p>
			<label title='{{ _("Sets the shutter speed of the camera in microseconds. Default is 0 (auto). Faster shutter times require greater amounts of illumination and vice versa.") }}' for="exposure_photo">{{ _("Exposure time (seconds - default → 0)") }} = </label>
			<input id="exposure_photo" size="4" name="exposure_photo" type="number" min="0" max="100" value="0">
		</p>
		<p>
			<label title='{{ _("Sets the resolution at which image captures, video recordings, and previews will be captured.") }}' for="resolution_photo">{{ _("Resolution") }} = </label>
			<select name="resolution_photo" id="resolution_photo">
				<option selected value="4056,3040">4056 × 3040</option>
				<option value="2028,1520">2028 × 1520</option>
				<option value="2028,1080">2028 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
			||||
			<label title='{{ _("Sets the apparent ISO setting of the camera, which represents its sensitivity to light. Lower values tend to produce less ‘noisy’ images, but operate poorly in low light conditions.") }}' for="iso_photo">{{ _("ISO") }} = </label>
			<select name="iso_photo" id="iso_photo">
				<option selected value="0">0 {{ _("(default)") }}</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="320">320</option>
				<option value="400">400</option>
				<option value="500">500</option>
				<option value="640">640</option>
				<option value="800">800</option>
			</select>
		</p>
		<p>
			<label for="check1">{{ _("Advanced options") }}</label>
			<input type="checkbox" id="advanced_options_checkbox" name="check1">
		</p>
		<div id='advanced_options'>
			<p>
				<label title='{{ _("Sets the metering mode of the camera.") }}' for="meter_mode_photo">{{ _("Meter Mode") }} = </label>
				<select name="meter_mode_photo" id="meter_mode_photo">
					<option selected value="average">{{ _("average (default)") }}</option>
					<option value="spot">{{ _("spot") }}</option>
					<option value="backlit">{{ _("backlit") }}</option>
					<option value="matrix">{{ _("matrix") }}</option>
				</select>
				||||
				<label title='{{ _("Sets the auto-white-balance mode of the camera.") }}' for="awb_mode_photo">{{ _("AWB Mode") }} = </label>
				<select name="awb_mode_photo" id="awb_mode_photo">
					<option value="off">{{ _("off") }}</option>
					<option selected value="auto">{{ _("auto (default)") }}</option>
					<option value="sunlight">{{ _("sunlight") }}</option>
					<option value="cloudy">{{ _("cloudy") }}</option>
					<option value="shade">{{ _("shade") }}</option>
					<option value="tungsten">{{ _("tungsten") }}</option>
					<option value="fluorescent">{{ _("fluorescent") }}</option>
					<option value="incandescent">{{ _("incandescent") }}</option>
					<option value="flash">{{ _("flash") }}</option>
					<option value="horizon">{{ _("horizon") }}</option>
				</select>

			</p>
			<p>
				<label title='{{ _("Sets the brightness setting of the camera, as an integer between 0 and 100.") }}' for="brightness_photo">{{ _("Brightness (default → 50)") }} = </label>
				<input id="brightness_photo" size="4" name="brightness_photo" type="number" min="0" max="100" value="50">
			</p>
			<p>
				<label title='{{ _("Sets the contrast setting of the camera, as an integer between -100 and 100.") }}' for="contrast_photo">{{ _("Contrast (increase noise - default → 0))") }} = </label>
				<input id="contrast_photo" size="4" name="contrast_photo" type="number" min="-100" max="100" value="0">
			</p>
			<p>
				<label title='{{ _("Sets the sharpness setting of the camera as an integer between -100 and 100.") }}' for="sharpness_photo">{{ _("Sharpness (default → 0)") }} = </label>
				<input id="sharpness_photo" size="4" name="sharpness_photo" type="number" min="-100" max="100" value="0">
				||||
				<label title='{{ _("Sets the saturation setting of the camera, as an integer between -100 and 100.") }}' for="saturation_photo">{{ _("Saturation (default → 0)") }} = </label>
				<input id="saturation_photo" size="4" name="saturation_photo" type="number" min="-100" max="100" value="0">
			</p>
			<p>
				<label title='{{ _("Sets the current rotation of the camera’s image.") }}' for="rotation_photo">{{ _("Rotation") }} = </label>
				<select name="rotation_photo" id="rotation_photo">
					<option selected value="0">0 {{ _("(default)") }}</option>
					<option value="90">90</option>
					<option value="180">180</option>
					<option value="270">270</option>

				</select>
				||||
				<label title='{{ _("Sets whether the camera’s output is horizontally flipped.") }}' for="hflip_photo">{{ _("Horizontal flip") }} = </label>
				<select name="hflip_photo" id="hflip_photo">
					<option selected value="false">{{ _("False (default)") }}</option>
					<option value="true">{{ _("True") }}</option>
				</select>
				||||
				<label title='{{ _("Sets whether the camera’s output is vertically flipped.") }}' for="vflip_photo">{{ _("Vertical flip") }} = </label>
				<select name="vflip_photo" id="vflip_photo">
					<option selected value="false">{{ _("False (default)") }}</option>
					<option value="true">{{ _("True") }}</option>
				</select>
			</p>
			<p>
				<label title='{{ _("Sets the exposure compensation level of the camera, as an integer between -25 and 25. Each increment represents 1/6th of a stop.") }}' for="exposure_compensation_photo">{{ _("Exposure compensation (default → 0)") }} = </label>
				<input id="exposure_compensation_photo" size="4" name="exposure_compensation_photo" type="number" min="-25"
					max="25" value="0">
			</p>
			<p>
				<label title='{{ _("Sets the exposure mode of the camera.") }}' for="exposure_mode_photo">{{ _("Exposure mode") }} = </label>
				<select name="exposure_mode_photo" id="exposure_mode_photo">
					<option value="off">{{ _("off") }}</option>
					<option selected value="auto">{{ _("auto (default)") }}</option>
					<option value="night">{{ _("night") }}</option>
					<option value="nightpreview">{{ _("nightpreview") }}</option>
					<option value="backlight">{{ _("backlight") }}</option>
					<option value="spotlight">{{ _("spotlight") }}</option>
					<option value="sports">{{ _("sports") }}</option>
					<option value="snow">{{ _("snow") }}</option>
					<option value="beach">{{ _("beach") }}</option>
					<option value="verylong">{{ _("verylong") }}</option>
					<option value="fixedfps">{{ _("fixedfps") }}</option>
					<option value="antishake">{{ _("antishake") }}</option>
					<option value="fireworks">{{ _("fireworks") }}</option>
				</select>
				||||
				<label title='{{ _("Sets the current image effect applied by the camera.") }}' for="image_effect_photo">{{ _("Image effect") }} = </label>
				<select name="image_effect_photo" id="image_effect_photo">
					<option selected value="none">{{ _("none (default)") }}</option>
					<option value="negative">{{ _("negative") }}</option>
					<option value="solarize">{{ _("solarize") }}</option>
					<option value="sketch">{{ _("sketch") }}</option>
					<option value="denoise">{{ _("denoise") }}</option>
					<option value="emboss">{{ _("emboss") }}</option>
					<option value="oilpaint">{{ _("oilpaint") }}</option>
					<option value="hatch">{{ _("hatch") }}</option>
					<option value="gpen">{{ _("gpen (graphite sketch effect)") }}</option>
					<option value="pastel">{{ _("pastel") }}</option>
					<option value="watercolor">{{ _("watercolor") }}</option>
					<option value="film">{{ _("film") }}</option>
					<option value="blur">{{ _("blur") }}</option>
					<option value="saturation">{{ _("saturation") }}</option>
					<option value="colorswap">{{ _("colorswap") }}</option>
					<option value="washedout">{{ _("washedout") }}</option>
					<option value="posterise">{{ _("posterise") }}</option>
					<option value="colorpoint">{{ _("colorpoint") }}</option>
					<option value="colorbalance">{{ _("colorbalance") }}</option>
					<option value="cartoon">{{ _("cartoon") }}</option>
					<option value="deinterlace1">{{ _("deinterlace1") }}</option>
					<option value="deinterlace2">{{ _("deinterlace2") }}</option>
				</select>
			</p>
		</div>
		<a class="button" id="take_a_photo" href="#">{{ _("Take a photo") }}</a>

	</div>

	<div id="timelapse" class="tabcontent">
		<p>
			<label title='{{ _("Sets the shutter speed of the camera in microseconds. Default is 0 (auto). Faster shutter times require greater amounts of illumination and vice versa.") }}' for="exposure_photo_timelapse">{{ _("Exposure time (seconds - default → 0))") }} = </label>
			<input id="exposure_photo_timelapse" size="4" name="exposure_photo_timelapse" type="number" max="100" min="0" value="0">
		</p>
		<p>
			<label title='{{ _("Time between each photo.") }}' for="time_between_photos">{{ _("Time between each photo (default → 0)") }} = </label>
			<input id="time_between_photos" size="4" name="time_between_photos" type="number" min="0" step="0.01" value="5">
		</p>
		<p>
			<label title='{{ _("The total number of photos required.") }}' for="number_photos">{{ _("Number of photo to be taken") }} = </label>
			<input id="number_photos" size="4" name="number_photos" type="number" min="1" value="10">
		</p>
		<p>
			<label title='{{ _("Sets the resolution at which image captures, video recordings, and previews will be captured.") }}' for="resolution_timelapse">{{ _("Resolution") }} = </label>
			<select name="resolution_timelapse" id="resolution_timelapse">
				<option selected value="4056,3040">4056 × 3040</option>
				<option value="2028,1520">2028 × 1520</option>
				<option value="2028,1080">2028 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
		</p>
		<p>{{ _("Total time (calculated)") }} => <span id="calculated_time">60</span> {{ _("seconds") }}</p>
		<a class="button" id="take_timelapse" href="#">{{ _("Start the timelapse") }}</a>

	</div>

	<div id="video" class="tabcontent">
		<p>
			<label title='{{ _("Time required for the video.") }}' for="video_time">{{ _("Video time") }} = </label>
					<input id="video_time" size="4" name="video_time" type="number" min="1" max="100" value="10">
		</p>
		<p>
			<label title='{{ _("Sets the resolution at which image captures, video recordings, and previews will be captured.") }}' for="resolution_video">{{ _("Resolution") }} = </label>
			<select name="resolution_video" id="resolution_video">
				<option selected value="1920,1080">1920 × 1080</option>
				<option value="1012,760">1012 × 760</option>
			</select>
		</p>
		<a class="button" id="start_video" href="#">{{ _("Start the video") }}</a>
	</div>

	<p> <span id="message"></span> <span id="filename"></span></p>

{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}