{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/galleria_style.css') }}">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script src="{{ url_for('static',  filename='galleria/src/galleria.js') }}"></script>


	<script>
		(function () {
			Galleria.loadTheme("{{ url_for('static',  filename='galleria/src/themes/azur/galleria.azur.js') }}");
			Galleria.configure({
				swipe: 'auto',
				transition: 'pulse',
				imageCrop: 'false',
			});

			Galleria.run('.galleria');
		}());
	</script>
{% endblock %}

{% block navbar %}
	<a class="button" href="{{ url_for('logout') }}">Logout</a>
	{% if role == "admin" %}<a class="button" href="{{ url_for('functionalities') }}">Functionalities</a>{%endif%}
	<a class="button" href="{{ url_for('preview') }}">Preview</a>
{% endblock %}

{% block container %}

	<!-- https://galleriajs.github.io/docs/#references-guides -->
	<!-- TODO : séparer pictures / timelapse / vidéos-->
	<hr>
	<h4>Photos</h4>
	{% if photo_file %}
		<div class="galleria">
			{% for filename in photo_file %}
				<img src="{{ url_for('static',  filename='camera/pictures/' + filename) }}" data-description="photo"
					data-title="{{ filename }}">
			{%endfor%}
		</div>
	{% endif %}

	<hr>
	<h4>Timelapse</h4>
	{% if timelapse_file %}
		<div class="galleria">
			{% for filename in timelapse_file %}
				<img src="{{ url_for('static',  filename='camera/timelapse/' + filename) }}" data-description="timelapse"
					data-title="{{ filename }}">
			{%endfor%}
		</div>
	{% endif %}

	<hr>
	<h4>Video</h4>
	{% if video_file %}
		{% for filename in video_file %}
			<li>{{ filename }}</li>
			<!-- <video src="{{ url_for('static',  filename='camera/video/' + filename) }}"
						data-description="video" data-title="{{ filename }}"> -->
		{%endfor%}
	{% endif %}


{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}