<!doctype html>
<html>

<head>
	{% block head %}
	<script src="{{url_for('static', filename='js/jquery-1.9.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/layout.js')}}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{{ url_for('static', filename='photos/hubble_berry_logo.jpg') }}">
	{% endblock %}
</head>

<body>
	<nav>{% block navbar %}
			<a class="button" href="{{ url_for('logout') }}">{{ _("Logout") }}</a>
			<a class="button" href="{{ url_for('preview') }}">{{ _("Preview") }}</a>
			<a class="button" href="{{ url_for('gallery') }}">{{ _("Gallery") }}</a>
			<a class="button" href="{{ url_for('messier') }}">{{ _("Messier's catalog") }}</a>
			{% if role == "admin" %}<a class="button" href="{{ url_for('functionalities') }}">{{ _("Functionalities") }}</a>{%endif%}
		{% endblock %}</nav>
	<label class="switch">
		<input id="night_mode" type="checkbox" name="check_night">
		<span class="slider round"></span>
	</label>
	<div class="container">
		{% if current_user.username %}<h1>{{ _("You are now connected as") }} {{ current_user.username }}!</h1>{% endif %}

		{% block container %}{% endblock %}
		{% block messages %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="messagesError">
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% endwith %}
		{% endblock %}
	</div>
	<footer>
		{% block footer %}
		<audio id="player" src="{{ url_for('static', filename='audio/ligo20160211v2.mp3') }}"></audio>
		&copy; Copyright 2020 {{ _("by") }} <a id="bilou" href="#">BILOU</a>.
		{% endblock %}
	</footer>
</body>

</html>