<!doctype html>
<html>
  <head>
    {% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='logo/hubble_berry_logo.jpg') }}">
    {% endblock %}
  </head>
  <body>
    <nav>{% block navbar %}{% endblock %}</nav>
    <label class="switch">
      <input id="night_mode" type="checkbox" name="check_night"> 
      <span class="slider round"></span>
    </label>
    <div class="container">
        {% block container %}{% endblock %}
        {% block messages %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="messagesError">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        {% endblock %}
    </div>
    <footer>
      {% block footer %}
      &copy; Copyright 2020 by <a href="#">BILOU</a>.
      {% endblock %}
    </footer>
  </body>
</html>

