<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <!-- navbar -->
    <div class="container">
        {% block container %}{% endblock %}
        {% block messages %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="messagesError">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        {% endblock %}
    </div>
    <div class="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="#">BILOU</a>.
      {% endblock %}
    </div>
  </body>
</html>

