{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block navbar %}
	<a class="button" href="{{ url_for('logout') }}">{{ _("Logout") }}</a>
	{% if role == "admin" %}<a class="button" href="{{ url_for('functionalities') }}">{{ _("Functionalities") }}</a>{%endif%}
	<a class="button" href="{{ url_for('gallery') }}">{{ _("Gallery") }}</a>
{% endblock %}

{% block container %}

	<img src="{{ url_for('video_feed') }}">

{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}