<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <a class="button" href="{{ url_for('index') }}">index</a>

        {% block content %}
        <div class="container">
            <h1>Register</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        {% endblock %}
    </body>
</html>