body{
    background-color: black;
}

.container{
    color: white;
    margin: auto;
    width: 50%;
    margin-top: 30vh;
    /* border: 3px solid green; */
    text-align: center;
    padding-bottom: 1em;
}

.button{
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    border-radius: 0.2em;
    margin-top: .5em;
    padding: .5em;
}

.messagesError{
    color:white;
}

.containerDirect{
    color: white;
    border: 3px solid green;
    margin-left: 10vh;
        
}