body{
    background-color: black;
    display: flex;
    min-height: 95vh;
    flex-direction: column;
}

.container{
    color: white;
    flex: 1;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-top: 7vh;
    /* border: 3px solid pink; */
    text-align: center;
}

.button{
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    border-radius: 0.2em;
    margin-top: .5em;
    padding: .5em;
}

.messagesError{
    color:white;
}

nav{
    /* border: 3px solid blue; */
    padding-top: 1vh;  
    padding-bottom: 1vh;  
}

footer{
    color:white;
    /* border: 3px solid green;    */
}

.containerDirect{
    color: white;
    border: 3px solid green;
    margin-left: 10vh;
        
}